/* Analog Clock Animation */
:root {
  --second: 1s;
  --minute: calc(var(--second) * 60);
  --hour: calc(var(--minute) * 60);
}

.clock-container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  --setTimeHour: 10;
  --setTimeMinute: 10;
  --timeShiftHour: calc(var(--setTimeHour) * var(--hour));
  --timeShiftMinute: calc(var(--setTimeMinute) * var(--minute));
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--grey);
  margin: 0 auto;
  position: relative;
  transform: rotate(180deg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.hand {
  position: absolute;
  top: 50%;
  left: calc(50% - var(--width) / 2);
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  border-radius: calc(var(--width) / 2);
  transform-origin: center 0;
}

.second {
  --width: 5px;
  --height: 140px;
  --color: var(--yellow);
}

.minute {
  --width: 10px;
  --height: 90px;
  --color: var(--blue);
}

.hour {
  --width: 10px;
  --height: 50px;
  --color: var(--dark-blue);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.second.hand {
  animation: rotate steps(60) var(--minute) infinite;
}

.minute.hand {
  animation: rotate linear var(--hour) infinite;
  animation-delay: calc(var(--timeShiftMinute) * -1);
}

.hour.hand {
  animation: rotate linear calc(var(--hour) * 12) infinite;
  animation-delay: calc((var(--timeShiftHour) + var(--timeShiftMinute)) * -1);
}

.clock::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
