.pacman-scene {
  --move-distance: 24vmin;
  --wall: #5558ff;
  --background: #222;
  background-color: black;
  background-image: linear-gradient(black,  black), radial-gradient(white 10%, transparent 0);
  background-size: 100vw 8vmin, 8vmin 8vmin;
  background-repeat: no-repeat, repeat;
  background-position: calc(-4vmin - 100vw) var(--move-distance), 0 0;
  position: relative;
  
  box-shadow: inset 0 0 0 1vmin var(--background), 
              inset 0 0 0 1.5vmin var(--wall), 
              inset 0 0 0 2vmin var(--background), 
              inset 0 0 0 2.5vmin var(--wall);
  height: 400px;
  width: 100%;
  border-radius: 3vmin;
  padding: 0;
  margin: 0;
  overflow: hidden; 

  animation: move 6s linear infinite;
}

.pacman-scene::after {
  content: "";
  display: block;
  top: 24vmin;
  left: 0;
  position: relative;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
  animation: 
          eat .4s linear infinite,
          movePacman 6s linear infinite;
} 

.border {
  background: rgb(16, 206, 16);
  position: relative;
}

.border::before {
  content: "";
  display: block;
  position: absolute;
  width: 2vmin;
  height: 8vmin;
  background: black;
  left: .6vmin;
  top: 24vmin;
}

.border::after {
  content: "";
  display: block;
  position: absolute;
  width: 2vmin;
  height: 8vmin;
  background: black;
  right: .6vmin;
  top: 24vmin;
}

@keyframes eat {
  0%, 50% { background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0); }
  25% { background: conic-gradient(yellow 55deg, yellow 0);}
}

@keyframes movePacman {
  0% { transform: translate(-8vmin, 0) }
  100% { transform: translate(100vw, 0) }
}

@keyframes move {
  0% { background-position: calc(-4vmin - 100vw) var(--move-distance), 0 0; }
  100% { background-position: 0 var(--move-distance), 0 0; }
}
